@import "_bootstrap.scss";
.log{
	width:750px;
	margin:20px auto;
}
.log-content{
    color: #fff;
    background-color: #151718;
    height: 450px;
    overflow: auto;
    padding: 9.5px;
    padding-left: 25px;
    text-indent: -14.5px;
    margin-bottom: 0;
    border: none;
    border-radius: 2px 2px 0 0;
    white-space: normal;
    font-weight: 400;
    display: block;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
}
.log-item{
	line-height: 1.5;
}
.search-text{
	width:300px;
	display: inline-block;
}
.u{
	color:yellow;
}