.fri-download{
	.download-head{
		strong{
			display: inline-block;
		}
		margin-bottom: 5px;
	}
	.download-item{
		border:1px solid #ccc;
		border-radius: 3px;
		margin-bottom: 15px;
		overflow: hidden;
		.download-text{
			margin: 15px;
		}
		pre{
    	    padding: 15px;
		    color: #434a54;
		    font-family: Consolas,"Liberation Mono",Courier,monospace;
		    background-color: #f5f7fa;
		    border: 1px solid #ccd1d9;
		    border-radius: 4px;
		    white-space: pre-wrap;
		    display: flex;
		    align-items:flex-start;
        }
        .text{
        	flex:1;
        }
		.button-list{
			display: flex;
			.button{
				flex:1;
				border-top: 1px solid #ccc;
				border-right: 1px solid #ccc;
				color: #4078c0;
				padding: 10px 0;
    			text-align: center;
				&:last-child{
					border-right: none;
				}
				&:hover{
					color: #fff;
    				background-color: #4078c0;
    				text-decoration: none;
    				cursor: pointer;
				}
			}
		}
	}
}